<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div id="notifications">
  <div class="form-inline">
    <span>
      <%= link_to user_path(visitor) do %>
      <%= render partial: 'users/attachment', locals: {user: visitor} %>
      <strong><%= visitor.name %></strong>
      <% end %>
      さんが

      <% case notification.action
      when 'follow' then %>
      <%= "あなたをフォローしました" %>


      <% when 'like' then %>
      <%= link_to 'あなたの投稿', notification.video, style: "font-weight: bold" %>
      にいいねしました

      <% when 'comment' then %>
        <% if notification.video.user_id == visited.id %>
          <%= link_to "あなたの投稿", notification.video, style: "font-weight: bold;" %>
        <% else %>
          <span class="like_to_video">
          <%= link_to video_path(notification.video) do %>
            <%= render partial: 'users/attachment', locals: {user: notification.video.user} %>
            <strong><%= notification.video.user.name + 'さんの投稿' %></strong>
          <% end %>
          </span>
        <% end %>
        にコメントしました

      <p class="user-comment text-muted mb-0">
        " <%= Comment.find_by(id: notification.comment_id)&.comment %> "
      </p>
      <% end %>
    </span>
    <div class="small text-muted text-right">
      <%= time_ago_in_words(notification.created_at).upcase %>前
    </div>
    <hr>
  </div>
</div>
