<div id="user-detalis">
  <div id="details">
    <%= link_to user_path(user), class: "user-info" do %>
    <div class="user-image">
      <%= render partial: "users/attachment", locals: { user: user} %>
    </div>
    <div class="user-name">
      <%= user.name %>
    </div>
    <% end %>

    <div class="link notification">
      <%= link_to notifications_path do %>
        <% if unchecked_notifications.blank? %>
          <%= icon('fas', 'bell') %>
        <% else %>
          <span class="fa-stack">
            <%= icon('fas', 'bell') %>
            <%= icon('fas', 'circle') %>
          </span>
        <% end %>
      <% end %>
      <p class="fukidashi">通知</p>
    </div>
    <div class="link new-video">
      <%= link_to new_video_path do %>
        <%= icon('fas', 'video') %>
      <% end %>
      <p class="fukidashi">動画を投稿</p>
    </div>
    <div class="link user-post-videos">
      <%= link_to users_videos_path(user) do %>
        <%= icon('fas', 'film') %>
      <% end %>
      <p class="fukidashi">投稿した動画</p>
    </div>
    <div class="link user-fovorite-videos">
      <%= link_to users_favorites_path(user) do %>
        <%= icon('far', 'file-video') %>
      <% end %>
      <p class="fukidashi">お気に入り動画</p>
    </div>
    <div class="link user-follows">
      <%= link_to follows_user_path(user) do %>
        <%= icon('fas', 'user-plus') %>
      <% end %>
      <p class="fukidashi">フォロー</p>
    </div>
    <div class="link user-followers">
      <%= link_to followers_user_path(user) do %>
        <%= icon('fas', 'users') %>
      <% end %>
      <p class="fukidashi">フォロワー</p>
    </div>
  </div>
</div>
