<%= link_to user_path(user) do %>
  <div class="user-image">
    <%= attachment_image_tag user, :profile_image, size: "100x100", fallback: "no-img-human.png" %>
  </div>
  <div class="user-name">
    <%= user.name %>
  </div>
<% end %>
<div class="new-video">
  <%= link_to "動画を投稿する", new_video_path, class: "btn btn-success" %>
</div>
<div class="user-post-videos">
  <%= link_to "投稿した動画一覧", users_videos_path(user) %>
</div>
<div class="user-fovorite-videos">
  <%= link_to "お気に入り動画", users_favorites_path(user) %>
</div>
<div class="user-follows">
  <%= link_to "フォロー中ユーザー", follows_user_path(user) %>
</div>
<div class="user-followers">
  <%= link_to "フォロワーユーザー", followers_user_path(user) %>
</div>
