<div id="edit" class="container">

  <%= form_with model: @user,　method: :patch, local: true do |f| %>

    <div class="user-name">
      <p>ユーザーネーム</p> <br>
      <%= f.text_field :name %>
    </div>

    <div class="user-image">
      <p>プロフィールイメージ</p>
      <%= f.file_field :profile_image %>
    </div>

    <div class="user-introduction">
      <p>自己紹介分</p> <br>
      <%= f.text_area :introduction %>
    </div>

    <div class="user-release_status">
      <h5>公開ステータス</h5>
      <p>※非公開にすると、ユーザーの情報や動画は他のユーザーからは見えないようになります</p>

    </div>

    <div class="form-btn">
      <%= f.submit "更新", class: "btn btn-success" %>
    </div>

  <% end %>

  <div class="user-delete">
    <%= link_to "退会する", users_withdraw_path, class: "btn btn-danger" %>
    <%= link_to "キャンセル", user_path(@user), class: "btn btn-secondary" %>
  </div>

</div>
