<div id="show" class="container">

  <div class="row">
    <div class="user-profile">
      <%= attachment_image_tag @user, :profile_image, size: "100x100", fallback: "no-img-human.png" %> <br>
      <%= @user.name %>
    </div>
    <div class="user-follower">
      <%= link_to "Boost数: ユーザー 一覧へ", follows_user_path(@user) %>
      <%= link_to "Boosted数: ユーザー 一覧へ", followers_user_path(@user) %>
    </div>
  </div>

  <!-- フォロー機能 -->
  <%= render partial: 'users/follow', locals: { user: @user} %>

  <div class="row">
    <h4>最近投稿した動画</h4>
    <%= link_to "一覧へ", users_videos_path, class: "btn btn-secondary" %>
  </div>

  <div class="row">
    <% @videos.each do |video| %>
      <div class="col-lg-3">
        <%= link_to video_path(video) do %>
        <div class="video">
          <video src="<%= rails_blob_path(video.video) %>"　width="640" height="360" type="video/mp4" allowfullscreen></video>
        </div>
        <%= video.title %>
        <%= video.user.name %>
        <%= video.created_at %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <h4>お気に入り動画</h4>
    <%= link_to "一覧へ", users_favorites_path, class: "btn btn-secondary" %>
  </div>

  <div class="row">
    <% @favo_videos.each do |video| %>
      <div class="col-lg-3">
        <%= link_to video_path(video) do %>
          <div class="video">
            <video src="<%= rails_blob_path(video.video) %>"　width="640" height="360" type="video/mp4" allowfullscreen></video>
          </div>
          <%= video.title %>
          <%= video.user.name %>
          <%= video.created_at %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
