<% comments.each do |comment| %>
  <% if comment.user.release_status == 1 %>
    <div id="comment-<%= comment.id %>" class="post-comments row">
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
        <%= link_to user_path(comment.user) do %>
          <%= render partial: "users/attachment", locals: { user: comment.user} %>
        <% end %>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
        <%= comment.comment %> <br>
        <%= comment.user.name %>
        <%= comment.created_at.to_s(:datetime_jp) %>
        <% if comment.user == current_user %>
        <%= link_to "コメントを削除", video_comment_path(comment.video, comment), method: :delete, remote: true %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
<%= paginate comments %>
