<div class="container">

  <div class="row">
    <h2>動画のアップロード</h2>
  </div>

  <div class="row">
    <%= form_with model: @video, local: true do |f| %>
      <%= f.file_field :video %> <br>
      <p>タイトル <%= f.text_field :title %></p> <br>
      <p>動画の説明 <%= f.text_area :introduction %></p>
      <p>※ 10秒程度が動画の長さの目安です</p>
      <%= f.submit %>
    <% end %>
    <%= link_to "キャンセル", videos_path %>
  </div>
</div>
