<% room_data.each do |obj| %>
  <% if obj.kind_of?(RoomMessage) %>
    <div class="obj row">
      <div class="message-user col-lg-1 col-md-1 col-sm-2 col-xs-2">
        <%= link_to user_path(obj.user) do %>
          <%= render partial: "users/attachment", locals: { user: obj.user} %> <br>
        <% end %>
      </div>
      <div class="message-content col-lg-7 col-md-7 col-sm-5 col-xs-5">
        <span><%= obj.user.name %></span> <br>
        <p><%= obj.message %></p>
      </div>
      <div class="message-info col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <p>
          <%= obj.created_at.to_s(:datetime_jp) %>
          <% if obj.user == current_user %>
            <%= link_to room_room_message_path(obj.room, obj), method: :delete do %>
              <i class="trash fas fa-trash-alt" style="color: red;"></i>
            <% end %>
        </p>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="obj row">
      <div class="message-user col-lg-1 col-md-1 col-sm-2 col-xs-2">
        <%= link_to user_path(obj.user) do %>
          <%= render partial: "users/attachment", locals: { user: obj.user} %> <br>
        <% end %>
      </div>
      <div class="message-content col-lg-7 col-md-7 col-sm-5 col-xs-5">
        <span><%= obj.user.name %></span> <br>
        <div class="video">
          <video src="<%= rails_blob_path(obj.room_video) %>"　width="640" height="360" type="video/mp4" controls></video>
        </div>
      </div>
      <div class="message-info col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <p>
          <%= obj.created_at.to_s(:datetime_jp) %>
          <% if obj.user == current_user %>
            <%= link_to room_room_message_path(obj.room, obj), method: :delete do %>
              <i class="trash fas fa-trash-alt" style="color: red;"></i>
            <% end %>
        </p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
<%= paginate room_data %>
