<div id="new">
  <%= form_with model: @room, local: true do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>

  <%= f.label :"ルーム名" %>
  <%= f.text_field :room_name %>

  <%= f.label :"パスワード" %>
  <%= f.text_field :password %>

  <%= f.submit "ルームを作成する" %>

  <% end %>
</div>
